<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whomade.planfAi.admin.mgt.survey.mapper.SurveyMapper">

    <!-- 테마 목록 조회 -->
    <select id="selectThemeList" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurveyTheme">
        SELECT * FROM tb_survey_theme ORDER BY THEME_SEQ ASC
    </select>

    <select id="selectThemeDetail" parameterType="int" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurveyTheme">
        SELECT * FROM tb_survey_theme WHERE THEME_SEQ = #{themeSeq}
    </select>

    <!-- 설문 목록 조회 -->
    <select id="selectSurveyList" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey">
        SELECT
            A.SURVEY_SEQ,
            A.SURVEY_ID,
            A.SURVEY_TITLE,
            A.OPENED,
            A.CLOSED,
            A.ADMINEMAIL,
            A.BGCOLOR,
            A.TEXTCOLOR,
            A.REGISTER_NO,
            DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d %H:%i') AS REGIST_DT,
            A.UPDUSR_NO,
            DATE_FORMAT(A.UPDT_DT, '%Y-%m-%d %H:%i') AS UPDT_DT
        FROM tb_survey A
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
                A.SURVEY_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                OR A.SURVEY_ID LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        ORDER BY A.REGIST_DT DESC
        LIMIT #{firstIndex}, #{recordCountPerPage}
    </select>

    <!-- 설문 목록 총 건수 조회 -->
    <select id="selectSurveyCount" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="int">
        SELECT COUNT(*)
        FROM tb_survey A
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
                A.SURVEY_TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                OR A.SURVEY_ID LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
    </select>
    
    <!-- 설문 상세 조회 -->
    <select id="selectSurveyDetail" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey">
        SELECT
            A.SURVEY_SEQ, A.SURVEY_ID, A.SURVEY_TITLE,
            A.OPENED, A.CLOSED, A.ADMINEMAIL, A.ADMINPID,
            A.ACCESSRESULTSRESTRICTION, A.RESULTSPASSWORD, A.ENTRYRESTRICTION, A.ENTRYPASSWORD,
            A.MEMBERS, A.ONEENTRYONLY, A.SHOWBORDER, A.EXPORTDELIMITER, A.EXPORTINCLUDEQUESTIONS,
            A.IP, A.BROWSERID, A.BGCOLOR, A.TEXTCOLOR, A.FONT_SIZE, A.HEADER, A.FOOTER, A.BASEHREF,
            A.USERCSS, A.DIVIDER, A.EXITPAGETEXT_ISHTML, A.EXITPAGETEXT, A.NUMBERRODUCTIONTEXT,
            A.THEME_SEQ, A.LOGO_IMAGE_PATH, A.LOGO_ALIGN, A.SHOW_FOOTER_LOGO, A.LAYOUT_TYPE, A.FONT_FAMILY, A.ACCENT_COLOR,
            A.REGISTER_NO, DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d %H:%i') AS REGIST_DT,
            A.UPDUSR_NO, DATE_FORMAT(A.UPDT_DT, '%Y-%m-%d %H:%i') AS UPDT_DT,
            B.BG_IMAGE_PATH AS bgImagePath
        FROM tb_survey A
        LEFT JOIN tb_survey_theme B ON A.THEME_SEQ = B.THEME_SEQ
        WHERE 1=1
        <if test="surveySeq != null">
            AND A.SURVEY_SEQ = #{surveySeq}
        </if>
        <if test="surveyId != null and surveyId != ''">
            AND A.SURVEY_ID = #{surveyId}
        </if>
    </select>

    <!-- 설문 등록 -->
    <insert id="insertSurvey" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey">
        INSERT INTO tb_survey (
            SURVEY_ID, SURVEY_TITLE, OPENED, CLOSED, ADMINEMAIL, ADMINPID,
            ACCESSRESULTSRESTRICTION, RESULTSPASSWORD, ENTRYRESTRICTION, ENTRYPASSWORD,
            MEMBERS, ONEENTRYONLY, SHOWBORDER, EXPORTDELIMITER, EXPORTINCLUDEQUESTIONS,
            IP, BROWSERID, BGCOLOR, TEXTCOLOR, FONT_SIZE, HEADER, FOOTER, BASEHREF,
            USERCSS, DIVIDER, EXITPAGETEXT_ISHTML, EXITPAGETEXT, NUMBERRODUCTIONTEXT,
            THEME_SEQ, LOGO_IMAGE_PATH, LOGO_ALIGN, SHOW_FOOTER_LOGO, LAYOUT_TYPE, FONT_FAMILY, ACCENT_COLOR,
            REGISTER_NO, REGIST_DT, UPDUSR_NO, UPDT_DT
        ) VALUES (
            #{surveyId}, #{surveyTitle}, #{opened}, #{closed}, #{adminEmail}, #{adminPid},
            #{accessResultsRestriction}, #{resultsPassword}, #{entryRestriction}, #{entryPassword},
            #{members}, #{oneEntryOnly}, #{showBorder}, #{exportDelimiter}, #{exportIncludeQuestions},
            #{ip}, #{browserId}, #{bgColor}, #{textColor}, #{fontSize}, #{header}, #{footer}, #{baseHref},
            #{userCss}, #{divider}, #{exitPageTextIsHtml}, #{exitPageText}, #{numberRoductionText},
            #{themeSeq}, #{logoImagePath}, #{logoAlign}, #{showFooterLogo}, #{layoutType}, #{fontFamily}, #{accentColor},
            #{registerNo}, NOW(), #{updusrNo}, NOW()
        )
    </insert>

    <!-- 설문 수정 (마스터 관리) -->
    <update id="updateSurvey" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey">
        UPDATE tb_survey
        <set>
            <if test="surveyTitle != null">SURVEY_TITLE = #{surveyTitle},</if>
            <if test="opened != null">OPENED = #{opened},</if>
            <if test="closed != null">CLOSED = #{closed},</if>
            <if test="adminEmail != null">ADMINEMAIL = #{adminEmail},</if>
            <if test="adminPid != null">ADMINPID = #{adminPid},</if>
            <if test="accessResultsRestriction != null">ACCESSRESULTSRESTRICTION = #{accessResultsRestriction},</if>
            <if test="resultsPassword != null">RESULTSPASSWORD = #{resultsPassword},</if>
            <if test="entryRestriction != null">ENTRYRESTRICTION = #{entryRestriction},</if>
            <if test="entryPassword != null">ENTRYPASSWORD = #{entryPassword},</if>
            <if test="members != null">MEMBERS = #{members},</if>
            <if test="oneEntryOnly != null">ONEENTRYONLY = #{oneEntryOnly},</if>
            <if test="showBorder != null">SHOWBORDER = #{showBorder},</if>
            <if test="exportDelimiter != null">EXPORTDELIMITER = #{exportDelimiter},</if>
            <if test="exportIncludeQuestions != null">EXPORTINCLUDEQUESTIONS = #{exportIncludeQuestions},</if>
            <if test="ip != null">IP = #{ip},</if>
            <if test="browserId != null">BROWSERID = #{browserId},</if>
            <if test="bgColor != null">BGCOLOR = #{bgColor},</if>
            <if test="textColor != null">TEXTCOLOR = #{textColor},</if>
            <if test="fontSize != null">FONT_SIZE = #{fontSize},</if>
            <if test="header != null">HEADER = #{header},</if>
            <if test="footer != null">FOOTER = #{footer},</if>
            <if test="baseHref != null">BASEHREF = #{baseHref},</if>
            <if test="userCss != null">USERCSS = #{userCss},</if>
            <if test="divider != null">DIVIDER = #{divider},</if>
            <if test="exitPageTextIsHtml != null">EXITPAGETEXT_ISHTML = #{exitPageTextIsHtml},</if>
            <if test="exitPageText != null">EXITPAGETEXT = #{exitPageText},</if>
            <if test="numberRoductionText != null">NUMBERRODUCTIONTEXT = #{numberRoductionText},</if>
            THEME_SEQ = #{themeSeq},
            <if test="logoImagePath != null">LOGO_IMAGE_PATH = #{logoImagePath},</if>
            <if test="logoAlign != null">LOGO_ALIGN = #{logoAlign},</if>
            <if test="showFooterLogo != null">SHOW_FOOTER_LOGO = #{showFooterLogo},</if>
            <if test="layoutType != null">LAYOUT_TYPE = #{layoutType},</if>
            <if test="fontFamily != null">FONT_FAMILY = #{fontFamily},</if>
            <if test="accentColor != null">ACCENT_COLOR = #{accentColor},</if>
            <if test="updusrNo != null">UPDUSR_NO = #{updusrNo},</if>
            UPDT_DT = NOW()
        </set>
        <where>
            <choose>
                <when test="surveySeq != null and surveySeq != 0">
                    AND SURVEY_SEQ = #{surveySeq}
                </when>
                <otherwise>
                    AND SURVEY_ID = #{surveyId}
                </otherwise>
            </choose>
        </where>
    </update>

    <!-- 설문 삭제 -->
    <delete id="deleteSurvey" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey">
        DELETE FROM tb_survey
        <where>
            <choose>
                <when test="surveySeq != null and surveySeq != 0">
                    AND SURVEY_SEQ = #{surveySeq}
                </when>
                <otherwise>
                    AND SURVEY_ID = #{surveyId}
                </otherwise>
            </choose>
        </where>
    </delete>

    <!-- ========================================== -->
    <!-- Section Queries -->
    <!-- ========================================== -->
    <select id="selectSectionList" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbSection">
        SELECT * FROM tb_section
        WHERE SURVEY_ID = #{surveyId}
        ORDER BY SECTION_ID ASC
    </select>
    
    <insert id="insertSection" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSection">
        INSERT INTO tb_section (
            SURVEY_ID, SECTION_ID, SECTION_TITLE, SECTION_HTMLTITLE,
            REGISTER_NO, REGIST_DT, UPDUSR_NO, UPDT_DT
        ) VALUES (
            #{surveyId}, #{sectionId}, #{sectionTitle}, #{sectionHtmlTitle},
            #{registerNo}, NOW(), #{updusrNo}, NOW()
        )
    </insert>

    <delete id="deleteSectionBySurveyId" parameterType="string">
        DELETE FROM tb_section WHERE SURVEY_ID = #{surveyId}
    </delete>

    <!-- ========================================== -->
    <!-- Question Queries -->
    <!-- ========================================== -->
    <select id="selectQuestionList" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbQuestion">
        SELECT * FROM tb_question
        WHERE SURVEY_ID = #{surveyId}
        ORDER BY SECTION_ID, QUESTION_ID ASC
    </select>
    
    <insert id="insertQuestion" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbQuestion">
        INSERT INTO tb_question (
            SURVEY_ID, SECTION_ID, QUESTION_ID, QUESTION_TYPE,
            SHOWDIVIDER, EXPORTINCLUDE, EXPORTEXPAND, QUESTIONTEXT,
            QUESTION_CD, QUESTION_ISHTML, QUESTION_LAYOUT, QUESTION_LABEL,
            OTHERANSWER, TEXTCOLS, TEXTROWS, TEXTSIZE, MAXLENGTH, SUMMARY_CD,
            REGISTER_NO, REGIST_DT, UPDUSR_NO, UPDT_DT
        ) VALUES (
            #{surveyId}, #{sectionId}, #{questionId}, #{questionType},
            #{showDivider}, #{exportInclude}, #{exportExpand}, #{questionText},
            #{questionCd}, #{questionIsHtml}, #{questionLayout}, #{questionLabel},
            #{otherAnswer}, #{textCols}, #{textRows}, #{textSize}, #{maxLength}, #{summaryCd},
            #{registerNo}, NOW(), #{updusrNo}, NOW()
        )
    </insert>

    <delete id="deleteQuestionBySurveyId" parameterType="string">
        DELETE FROM tb_question WHERE SURVEY_ID = #{surveyId}
    </delete>

    <!-- ========================================== -->
    <!-- Question Label Queries -->
    <!-- ========================================== -->
    <select id="selectQuestionLabelList" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbSurvey" resultType="com.whomade.planfAi.admin.mgt.survey.vo.TbQuestionLabel">
        SELECT * FROM tb_question_label
        WHERE SURVEY_ID = #{surveyId}
        ORDER BY SECTION_ID, QUESTION_ID, QUESTION_LABEL_ID ASC
    </select>
    
    <insert id="insertQuestionLabel" parameterType="com.whomade.planfAi.admin.mgt.survey.vo.TbQuestionLabel">
        INSERT INTO tb_question_label (
            SURVEY_ID, SECTION_ID, QUESTION_ID, QUESTION_LABEL_ID,
            QUESTION_LABEL, EXPORTCODE, SELECTED,
            REGISTER_NO, REGIST_DT, UPDUSR_NO, UPDT_DT
        ) VALUES (
            #{surveyId}, #{sectionId}, #{questionId}, #{questionLabelId},
            #{questionLabel}, #{exportCode}, #{selected},
            #{registerNo}, NOW(), #{updusrNo}, NOW()
        )
    </insert>

    <delete id="deleteQuestionLabelBySurveyId" parameterType="string">
        DELETE FROM tb_question_label WHERE SURVEY_ID = #{surveyId}
    </delete>

</mapper>
